/***********************
General
************************/
a {
  text-decoration:none;
  color:#DF3A01;
}
/* site body*/
body {
  background-color:#CEF6E3;
  color:#DA3000;
}
body {font-family: 'Shadows Into Light', cursive;
}

img {
 max-width:100%;
}
video {
  max-width: 100%
}

/***********************
Heading
************************/

/***********************
Colors
************************/
/**a light blue header*/
header {
  background:#00FFFF;
  border-color:#599a68;
}

header{float:left;
  margin:0 0 30px 0;
  padding:5px 0 0 0;
  width:100%;
}
h1, h2 {
  color:#DF3A01;
}
h1 {float:left
  font-family: 'Indie Flower', cursive;
  width:33%;
  margin:0px 0;
  font-size:1.75em;
  font-weight:normal;
  line-height:2.8em;
  text-align: left;
}
h2 {float:left;
  width:33%;
  font-family: 'Indie Flower', cursive;
  font-size:1.75em;
  margin:0px 0 0;
  font-weight:normal;
}
h3{
  margin:0 0 1em 0;
} 

/***********************
Navigation
************************/
nav {
  background:#00FAFA;
  width: 100%

}
nav {text-align:center;
  padding:10px 0;
  margin:20px 0 0;
}
nav a, nav a:visited{
  color:#fff;
}
/* selected links*/
nav a.selected, nav a:hover{
  color:#32673f;
}

nav {text-align:center;
  padding:10px 0;
  margin:20px 0 0;
}
nav ul {
  list-style:none;
  margin:0 10px;
  padding:0;
}
nav ul li{ 
/*try to do horisontal*/
float:left;
  width:25%;
}

nav {
  display:inline-block
}

nav a {font-weight:800;
  padding:15px 10px;
}

/***********************
Footer
************************/
footer{font-size:0.75em;
  text-align:center;
  clear:both;
  padding-top:50 px;
  color:#ccc;
}
social_logo {
  width:20px;
  height:20px;
  margin:0 5px;
}
#logo {
  text-align:center;
    margin:0;
}


/***********************
Page:My Family
************************/
#family_gallery{
  margin:0;
  padding:0;
  list-style:none;
}
#family_gallery li{
  float:left;
  width:45%;
  margin:2.5%;
  background-color:#f5f5f5;
  color:#bdc3c7;
}
#family_gallery li a p{
  margin:0;
  padding:5%;
  font-size:0.75em;
  color:#bdc3c7;
  
}
  

#wrapper {
  max-width:940px;
  padding: 0 5%
  margin:0 auto;
  
}



/***********************
Page: Lego
************************/
.Lego-logo  {
 display:block;
  max-width:150px;
  margin:0 auto 30 px;
  border-radius:10%;
 
}


    /***********************
Page: Contact
************************/

.contact-info {
  list-style:none;
  padding:0;
  margin:0;
  font-size:0.9em;
}
.contact-info a{
display:block;
min-height:20px;
  background-repeat:no-repeat;
  background-size:20px 20px;
 padding:0 0 0 30 px;
  margin:0 0 10px;
    
}
.contact-info li.phone a {
  background-image:url('../phone.png')
}
.contact-info li.mail a {
  background-image:url('../mail.png')
}
    
